.pagination {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.arrow-button {
    padding: 1rem;
    background: var(--tertiary-color-hover);
    border-radius: 10px;
    color: var(--primary-color);
    cursor: pointer;
}

.first-disabled {
    cursor: not-allowed;
    background: grey;
}