.suggestions-list {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow-hover);
    margin-top: 1rem;
}

.suggestions-list > div {
    cursor: pointer;
    border-bottom: 1px solid var(--secondary-color); 
    padding: 10px;
}

.suggestions-list > div:last-child {
    border: none;
}